.buttonCta {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 137px;
  height: 50px;
  border-radius: 8px;
  background-color: var(--primary-light-purple);
  color: var(--secondary-medium-purple);
  border-radius: 8px;
  text-align: center;
  gap: 8px;
  font-family: var(--font-neue-montreal);
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  transition: transform 0.1s ease;
}

.buttonCta:active {
  transform: scale(0.95);
}
