.buttonCta {
  display: flex;
  flex-direction: row;
  padding: 12px;
  width: Hug (137px) px;
  height: Hug (50px) px;
  border-radius: 8px;
  background-color: var(--Primary-Light-Purple, #e2d4fe);
  color: var(--Secondary-Medium-Purple, #946bb6);
  border-radius: 8px;
  text-align: center;
  gap: 8px;
  font-family: var(--font-neue-montreal);
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: center;
}
