:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-inter: "Inter", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-neue-montreal: sans-serif;
  --primary-dark-green: #3c4a41;
  --primary-medium-green: #d6e0d3;
  --primary-light-green: #f4f8ef;
  --primary-light-purple: #e2d4fe;
  --secondary-medium-purple: #946bb6;
  --secondary-dark-purple: #453848;
  --secondary-yellow: #ffdda5;
  --secondary-light-pink: #ffcccc;
  --secondary-orange: #ff9b6e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --font-inter: "Inter", sans-serif;
    --font-roboto: "Roboto", sans-serif;
    --font-neue-montreal: sans-serif;
  }
}

html,
body {
  font-family: var(--font-inter);
  max-width: 100vw;
  /* overflow-x: hidden; */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
ul,
li {
  list-style-type: none;
}

button {
  cursor: pointer;
  text-decoration: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  outline: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
