.conversion {
  height: 426px;
  border-top: solid 1px rgba(0, 51, 0, 0.2);
  color: var(--primary-dark-green);
  position: relative;
}

.conversion-title {
  position: absolute;
  width: 931.3px;
  height: 186px;
  top: 120px;
  left: 124px;
  font-family: var(--font-neue-montreal);
  font-size: 48px;
  font-weight: 500;
  line-height: 62.4px;
  text-align: left;
}

.conversion-block {
  position: absolute;
  width: 392px;
  height: 163px;
  top: 143px;
  left: 824px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.conversion-text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  opacity: 0.7;
}
