/* ============================
   Conteneur Principal de la Hero
   ============================ */
.hero {
  color: var(--primary-dark-green);
  height: 789px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ========================
     Conteneur des Médias (Photo & Vidéo)
     ======================== */
.hero-container-photo {
  position: absolute;
  width: 1192px;
  height: 441px;
  top: 40px;
  left: 124px;
  display: flex;
  justify-content: space-between;
}

/* Vidéo dans la Hero */
.hero-video {
  width: 592px;
  height: 440px;
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
}

/* Photo dans la Hero */
.hero-photo {
  border-radius: 8px;
}

/* ========================
     Texte et Titres
     ======================== */

/* Titre principal */
.hero-title {
  position: absolute;
  width: 358px;
  height: 124px;
  top: 553px;
  left: 124px;
  letter-spacing: -2px;
  font-family: var(--font-neue-montreal);
  font-size: 48px;
  font-weight: 500;
  line-height: 62.4px;
  text-align: left;
}

/* ========================
     Logos et Graphiques
     ======================== */

/* Logo graphique (ex. icône ou illustration) */
.hero-logo-graphik {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 583px;
  left: 688px;
}

/* ========================
     Liens et Appels à l'Action
     ======================== */

/* Lien de navigation ou sous-titre */
.hero-link {
  position: absolute;
  width: 255px;
  height: 19px;
  top: 568px;
  left: 896px;
}

/* Bouton CTA (Call To Action) */
.hero-cta {
  position: absolute;
  width: 137px;
  height: 50px;
  top: 613px;
  left: 878px;
}
